{{ 'homepage.css' | asset_url | stylesheet_tag }}

<div class="wrapper-2">
      <div class="benefits-section">
        <div class="inner-benefits-section">
          <div class="benefits-left">
            <div class="inner-left-side">
              <img
                src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/zdsfgsg_1_1.png?v=1707247798"
                alt=""
              />
              <img
                src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_251.svg?v=1707289834"
                alt=""
              />
            </div>
          </div>
          <div class="benefits-right">
            <div class="benefit-inner-wrapper">
              <p class="red-heading">We care for health</p>
              <h1>Why should <br /><span>you opt purefemm?</span></h1>
              <p class="para-text black-color">
                Rejecting pseudoscience and half-truths, we disdain health fads.
                Our vision for Essential for Women was to craft a multivitamin
                that is straightforward, pure, and firmly grounded in science.
                We dared top scientists to reinvent the daily multivitamin for
                women, and what emerged is our definition of the ideal
                multivitamin.
              </p>
            </div>
            <div class="benefit-inner-wrapper">
              <p class="red-heading">We care for health</p>
              <h1>Why should <br /><span>you opt purefemm?</span></h1>
              <p class="para-text black-color">
                Rejecting pseudoscience and half-truths, we disdain health fads.
                Our vision for Essential for Women was to craft a multivitamin
                that is straightforward, pure, and firmly grounded in science.
                We dared top scientists to reinvent the daily multivitamin for
                women, and what emerged is our definition of the ideal
                multivitamin.
              </p>
            </div>
            <div class="benefit-inner-wrapper">
              <p class="red-heading">We care for health</p>
              <h1>Why should <br /><span>you opt purefemm?</span></h1>
              <p class="para-text black-color">
                Rejecting pseudoscience and half-truths, we disdain health fads.
                Our vision for Essential for Women was to craft a multivitamin
                that is straightforward, pure, and firmly grounded in science.
                We dared top scientists to reinvent the daily multivitamin for
                women, and what emerged is our definition of the ideal
                multivitamin.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="marquee">
        <div class="marquee__group">
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_341.svg?v=1707292238"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_341.svg?v=1707292238"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_338.svg?v=1707292239"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_339.svg?v=1707292239"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_340.svg?v=1707292239"
            alt=""
          />
        </div>

        <div class="marquee__group">
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_341.svg?v=1707292238"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_341.svg?v=1707292238"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_338.svg?v=1707292239"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_339.svg?v=1707292239"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_340.svg?v=1707292239"
            alt=""
          />
        </div>
      </div>
      <div class="testimonials">
        <div class="testimonial-heading">
          <div class="heading-wrapper">
            <h1 class="about-heading-1">A great taste of words</h1>
            <h1 class="about-heading-2">from our customers</h1>
          </div>
          <div class="right-icon">
             <img
                src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Frame_3.svg?v=1707212091"
                alt=""
              />
          </div>
        </div>
        <div class="testimonial-content">
          <div class="testimonial__marquee_group">
            <div class="testimonial-item"></div>
            <div class="testimonial-item"></div>
            <div class="testimonial-item"></div>
          </div>        
          <div class="testimonial__marquee_group">
            <div class="testimonial-item"></div>
            <div class="testimonial-item"></div>
            <div class="testimonial-item"></div>
          </div>
        </div>
      </div>
    </div>
{% schema %}
  {
    "name": "purefem hero 2 section",
    "settings": [],
    "presets" : [{"name" : "purefem hero 2 section"}]
  }
{% endschema %}