{{ 'homepage.css' | asset_url | stylesheet_tag }}

<div class="wrapper-2">
      <div class="benefits-section">
        <div class="inner-benefits-section">
          <div class="benefits-left">
            <div class="inner-left-side">
              <img
                src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/zdsfgsg_1_1.png?v=1707247798"
                alt=""
              />
              <img
                src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_251.svg?v=1707289834"
                alt=""
              />
            </div>
          </div>
          <div class="benefits-right">
            <div class="benefit-inner-wrapper">
              <p class="red-heading">We care for health</p>
              <h1>Why should <br /><span>you opt purefemm?</span></h1>
              <p class="para-text black-color">
                Rejecting pseudoscience and half-truths, we disdain health fads.
                Our vision for Essential for Women was to craft a multivitamin
                that is straightforward, pure, and firmly grounded in science.
                We dared top scientists to reinvent the daily multivitamin for
                women, and what emerged is our definition of the ideal
                multivitamin.
              </p>
            </div>
            <div class="benefit-inner-wrapper">
              <p class="red-heading">We care for health</p>
              <h1>Why should <br /><span>you opt purefemm?</span></h1>
              <p class="para-text black-color">
                Rejecting pseudoscience and half-truths, we disdain health fads.
                Our vision for Essential for Women was to craft a multivitamin
                that is straightforward, pure, and firmly grounded in science.
                We dared top scientists to reinvent the daily multivitamin for
                women, and what emerged is our definition of the ideal
                multivitamin.
              </p>
            </div>
            <div class="benefit-inner-wrapper">
              <p class="red-heading">We care for health</p>
              <h1>Why should <br /><span>you opt purefemm?</span></h1>
              <p class="para-text black-color">
                Rejecting pseudoscience and half-truths, we disdain health fads.
                Our vision for Essential for Women was to craft a multivitamin
                that is straightforward, pure, and firmly grounded in science.
                We dared top scientists to reinvent the daily multivitamin for
                women, and what emerged is our definition of the ideal
                multivitamin.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="marquee">
        <div class="marquee__group">
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_341.svg?v=1707292238"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_341.svg?v=1707292238"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_338.svg?v=1707292239"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_339.svg?v=1707292239"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_340.svg?v=1707292239"
            alt=""
          />
        </div>

        <div class="marquee__group">
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_341.svg?v=1707292238"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_341.svg?v=1707292238"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_338.svg?v=1707292239"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_339.svg?v=1707292239"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_340.svg?v=1707292239"
            alt=""
          />
        </div>
      </div>
      <div class="testimonials">
        <div class="testimonial-heading">
          <div class="heading-wrapper">
            <h1 class="about-heading-1">A great taste of words</h1>
            <h1 class="about-heading-2">from our customers</h1>
          </div>
          <div class="right-icon">
             <img
                src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Frame_3.svg?v=1707212091"
                alt=""
              />
          </div>
        </div>
     <div class="wrapper-testimonial">
      <ul class="carousel">
        <li class="card">
          <div class="first-line">
            <img src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Ellipse_7_3.png?v=1707479251" alt="img" draggable="false">
          <h2 class="testimonial-name">Marry <span>Larson</span></h2>
         </div>
          <p>
              “Formulated with our water balance blend to assist in reducing excess
            water weight and enhancing energy levels. Additionally, enriched with vitamin
            B-6 to promote and support metabolism.”
          </p>
           <img class="rating" src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Ellipse_7_3.png?v=1707479251" alt="img" draggable="false">
        </li>   
         <li class="card">
          <div class="first-line">
            <img src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Ellipse_7_1.png?v=1707479268.jpg" alt="img" draggable="false">
           <h2 class="testimonial-name">Marry <span>Larson</span></h2>
          </div>
        </li>
         <li class="card">
          <div class="first-line">
            <img src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Ellipse_7_1.png?v=1707479268" alt="img" draggable="false">
           <h2 class="testimonial-name">Marry <span>Larson</span></h2>
         </div>
        </li>
         <li class="card">
          <div class="first-line">
            <img src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Ellipse_7_1.png?v=1707479268" alt="img" draggable="false">
           <h2 class="testimonial-name">Marry <span>Larson</span></h2>
         </div>
        </li>
      </ul>
    </div>
      </div>
    </div>
    <script>
      const wrapper = document.querySelector(".wrapper");
const carousel = document.querySelector(".carousel");
const firstCardWidth = carousel.querySelector(".card").offsetWidth;
const arrowBtns = document.querySelectorAll(".wrapper i");
const carouselChildrens = [...carousel.children];

let isDragging = false, isAutoPlay = true, startX, startScrollLeft, timeoutId;

// Get the number of cards that can fit in the carousel at once
let cardPerView = Math.round(carousel.offsetWidth / firstCardWidth);

// Insert copies of the last few cards to beginning of carousel for infinite scrolling
carouselChildrens.slice(-cardPerView).reverse().forEach(card => {
    carousel.insertAdjacentHTML("afterbegin", card.outerHTML);
});

// Insert copies of the first few cards to end of carousel for infinite scrolling
carouselChildrens.slice(0, cardPerView).forEach(card => {
    carousel.insertAdjacentHTML("beforeend", card.outerHTML);
});

// Scroll the carousel at appropriate postition to hide first few duplicate cards on Firefox
carousel.classList.add("no-transition");
carousel.scrollLeft = carousel.offsetWidth;
carousel.classList.remove("no-transition");

// Add event listeners for the arrow buttons to scroll the carousel left and right
arrowBtns.forEach(btn => {
    btn.addEventListener("click", () => {
        carousel.scrollLeft += btn.id == "left" ? -firstCardWidth : firstCardWidth;
    });
});

const dragStart = (e) => {
    isDragging = true;
    carousel.classList.add("dragging");
    // Records the initial cursor and scroll position of the carousel
    startX = e.pageX;
    startScrollLeft = carousel.scrollLeft;
}

const dragging = (e) => {
    if(!isDragging) return; // if isDragging is false return from here
    // Updates the scroll position of the carousel based on the cursor movement
    carousel.scrollLeft = startScrollLeft - (e.pageX - startX);
}

const dragStop = () => {
    isDragging = false;
    carousel.classList.remove("dragging");
}

const infiniteScroll = () => {
    // If the carousel is at the beginning, scroll to the end
    if(carousel.scrollLeft === 0) {
        carousel.classList.add("no-transition");
        carousel.scrollLeft = carousel.scrollWidth - (2 * carousel.offsetWidth);
        carousel.classList.remove("no-transition");
    }
    // If the carousel is at the end, scroll to the beginning
    else if(Math.ceil(carousel.scrollLeft) === carousel.scrollWidth - carousel.offsetWidth) {
        carousel.classList.add("no-transition");
        carousel.scrollLeft = carousel.offsetWidth;
        carousel.classList.remove("no-transition");
    }

    // Clear existing timeout & start autoplay if mouse is not hovering over carousel
    clearTimeout(timeoutId);
    if(!wrapper.matches(":hover")) autoPlay();
}

const autoPlay = () => {
    if(window.innerWidth < 800 || !isAutoPlay) return; // Return if window is smaller than 800 or isAutoPlay is false
    // Autoplay the carousel after every 2500 ms
    timeoutId = setTimeout(() => carousel.scrollLeft += firstCardWidth, 2500);
}
autoPlay();

carousel.addEventListener("mousedown", dragStart);
carousel.addEventListener("mousemove", dragging);
document.addEventListener("mouseup", dragStop);
carousel.addEventListener("scroll", infiniteScroll);
wrapper.addEventListener("mouseenter", () => clearTimeout(timeoutId));
wrapper.addEventListener("mouseleave", autoPlay);
    </script>
{% schema %}
  {
    "name": "purefem hero 2 section",
    "settings": [],
    "presets" : [{"name" : "purefem hero 2 section"}]
  }
{% endschema %}