{{ 'homepage.css' | asset_url | stylesheet_tag }}

<div class="hero">
        <div class="inner-hero">
          <div class="rating-section">
            <img
              src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/stars-svg.svg?v=1707205001"
              alt="stars-svg"
            />
          </div>
          <div class="heading-wrapper">
            <h1 class="heading-1">The ultimate control</h1>
            <h1 class="heading-2">over your health</h1>
          </div>
          <p class="para-text">
            An assortment of health supplements crafted to support<br />the
            everyday well-being of the modern woman.
          </p>
          <a href="#" class="cta-button"
            ><p class="cta-text">Shop now</p>
            <img
              class="cta-image"
              src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/button-icon.svg"
              alt=""
          /></a>
        </div>
      </div>
      <div class="logos-section">
        <div class="inner-logos-section">
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Vector_26.svg?v=1707208298"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_10.svg?v=1707208298"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_9.svg?v=1707208298"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/kisspng-institute-of-culinary-education-business-health-ne-good-morning-5b20dfa18be2e2_1.svg?v=1707208298"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/2560px-Womenshealthlogo_5.svg?v=1707208299"
            alt=""
          />
        </div>
      </div>
      <div class="categories-section">
        <div class="inner-categories-section">
          <div class="heading-wrapper-center">
            <h1 class="about-heading-1">A good relief</h1>
            <h1 class="about-heading-2">for natural symptoms</h1>
          </div>
        </div>
      </div>
{% schema %}
  {
    "name": "purefem hero section",
    "settings": [],
    "presets" : [{"name" : "purefem hero section"}]
  }
{% endschema %}