<style>
      @font-face {
        font-family: "Satoshi";
        src: url("https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Satoshi-Medium.woff2?v=1707203625")
          format("woff2");
        font-weight: 500;
        font-style: normal;
      }

      @font-face {
        font-family: "Satoshi";
        src: url("https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Satoshi-Bold.woff2?v=1707203625")
          format("woff2");
        font-weight: 700;
        font-style: normal;
      }

      @font-face {
        font-family: "Satoshi";
        src: url("https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Satoshi-Regular.woff2?v=1707203835")
          format("woff2");
        font-weight: 400;
        font-style: normal;
      }

      @font-face {
        font-family: "dutch";
        src: url("https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Dutch801_Rm_WGL4_BT_Roman.ttf?v=1707204263")
          format("woff2");

        font-style: normal;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      p {
        font-family: "Satoshi", sans-serif !important;
      }
      .hero {
        height: 90vh;
        width: 100%;
        background-image: url(https://cdn.shopify.com/s/files/1/0631/5743/6566/files/hero_image_678d02df-8f67-49cf-ac6b-59f531eba4eb.png?v=1707203317);
        background-size: cover;
        background-position: center center;
      }

      .inner-hero {
        height: 100%;
        max-width: 1400px;
        margin: auto;
        padding: 0px 50px;
        font-family: "Satoshi", sans-serif;
        font-weight: 400;
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
      }
      .rating-section img {
        width: 300px;
      }
      .heading-1 {
        font-family: "satoshi", sans-serif !important;
        font-weight: 700;
        font-size: 55px;
        line-height: 50px;
        color: white;
      }
      .heading-2 {
        font-family: "dutch", sans-serif !important;
        font-weight: 400;
        font-size: 55px;
        line-height: 50px;
        font-style: italic;
        color: white;
      }

      .para-text {
        font-size: 18px;
        line-height: 20px;
        color: white;
      }
      .cta-button {
        text-decoration: none;
        display: flex;
        height: 60px;
        width: 270px;
      }
      .cta-image {
        height: 100%;
      }
      .cta-text {
        font-family: "dutch", sans-serif !important;
        font-size: 20px;
        line-height: 20px;
        font-style: italic;
        letter-spacing: -1px;
        font-weight: 400 !important;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        width: 200px;
        height: 60px;
        color: #9c3246;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .logos-section {
        background-color: #f0e5e9;
        width: 100%;
      }

      .inner-logos-section {
        max-width: 1400px;
        height: 100px;
        margin: auto;
        padding: 0px 50px;
        display: flex;
        justify-content: space-between;
      }
      .inner-logos-section img {
        width: 100px;
        object-fit: contain;
      }
      .about {
        width: 100%;
        height: 80vh;
        position: relative;
      }
      .inner-about-overflow1 {
        position: relative;
        max-width: 1400px;
        z-index: 2;
        padding: 0px 50px;
        margin: auto;
        height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
      }
      .about-heading-1 {
        font-family: "satoshi", sans-serif !important;
        font-weight: 700;
        font-size: 50px;
        line-height: 45px;
        color: #9c3246;
      }
      .about-heading-2 {
        font-family: "dutch", sans-serif !important;
        font-weight: 400;
        font-size: 50px;
        line-height: 45px;
        font-style: italic;
        color: #9c3246;
      }
      .inner-about-overflow2 {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        height: 80vh;
        display: flex;
        flex-direction: row;
      }
      .about-left {
        width: 50%;
        background-color: #f9f3f4;
        height: 100%;
      }
      .about-right {
        width: 50%;

        height: 100%;
      }
      .about-right img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .black-color {
        color: black;
      }
      .red-color-background {
        background-color: #9c3246;
        color: white;
      }

      .categories-section {
        width: 100%;
      }

      .inner-categories-section {
        max-width: 1400px;
        margin: auto;
        padding: 0px 50px;
        height: 100vh;
      }
      .heading-wrapper-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    </style>
<div id="wrapper">
      <div class="hero">
        <div class="inner-hero">
          <div class="rating-section">
            <img
              src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/stars-svg.svg?v=1707205001"
              alt="stars-svg"
            />
          </div>
          <div class="heading-wrapper">
            <h1 class="heading-1">The ultimate control</h1>
            <h1 class="heading-2">over your health</h1>
          </div>
          <p class="para-text">
            An assortment of health supplements crafted to support<br />the
            everyday well-being of the modern woman.
          </p>
          <a href="#" class="cta-button"
            ><p class="cta-text">Shop now</p>
            <img
              class="cta-image"
              src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/button-icon.svg"
              alt=""
          /></a>
        </div>
      </div>
      <div class="logos-section">
        <div class="inner-logos-section">
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Vector_26.svg?v=1707208298"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_10.svg?v=1707208298"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Group_9.svg?v=1707208298"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/kisspng-institute-of-culinary-education-business-health-ne-good-morning-5b20dfa18be2e2_1.svg?v=1707208298"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/2560px-Womenshealthlogo_5.svg?v=1707208299"
            alt=""
          />
        </div>
      </div>
      <div class="categories-section">
        <div class="inner-categories-section">
          <div class="heading-wrapper-center">
            <h1 class="about-heading-1">A good relief</h1>
            <h1 class="about-heading-2">for natural symptoms</h1>
          </div>
        </div>
      </div>
      <div class="about">
        <div class="inner-about-overflow1">
          <div class="heading-wrapper">
            <h1 class="about-heading-1">A balance</h1>
            <h1 class="about-heading-2">For your health.</h1>
          </div>
          <p class="para-text black-color">
            An assortment of health supplements crafted to support<br />the
            everyday well-being of the modern woman.
          </p>
          <a href="#" class="cta-button"
            ><p class="cta-text red-color-background">Shop purefemm</p>
            <img
              class="cta-image"
              src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Frame_3.svg?v=1707212091"
              alt=""
          /></a>
        </div>
        <div class="inner-about-overflow2">
          <div class="about-left"></div>
          <div class="about-right">
            <img
              src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Pink_1.png?v=1707210881"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
{% schema %}
  {
    "name": "purefem hero section",
    "settings": [],
    "presets" : [{"name" : "purefem section"}]
  }
{% endschema %}