{{ 'homepage.css' | asset_url | stylesheet_tag }}
<div class="purefemm-cta">
   <div class="left-cta">
      <img src="" alt="img">  
   </div>
     <div class="right-cta"></div>
</div>
{% schema %}
  {
    "name": "image with cta purefemm",
    "settings": [],
     "presets": [{ "name": "image with cta purefemm" }]
  }
{% endschema %}