{{ 'homepage.css' | asset_url | stylesheet_tag }}
<div class="purefemm-cta">
   <div class="left-cta">
      <img src="https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Rectangle_45_1.png?v=1707576319" alt="img">  
   </div>
     <div class="right-cta"></div>
</div>
{% schema %}
  {
    "name": "image with cta purefemm",
    "settings": [],
     "presets": [{ "name": "image with cta purefemm" }]
  }
{% endschema %}