{{ 'main-hero.css' | asset_url | stylesheet_tag }}

<div id="outer-div" style="background-image:url('{{ section.settings.background-image | img_url: ''}}')">
  <h1>{{ section.settings.heading }}</h1>
  <p>{{ section.settings['sub-heading'] }}</p>
  <a class="main-button" href="#">order now</a>
</div>

{% schema %}
{
  "name": "main hero",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub-heading",
      "label": "sub-heading"
    },
    {
      "type": "image_picker",
      "id": "background-image",
      "label": "background-image"
    }
  ],
  "presets": [{ "name": "main hero" }]
}
{% endschema %}
