<h1>{{ section.settings.heading }}</h1>

{% schema %}
{
  "name": "main hero",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "presets": [{ "name": "main hero" }]
}
{% endschema %}
