<h1>{{ section.settings.heading }}</h1>
<p>{{ section.settings['sub-heading'] }}</p>
{% schema %}
{
  "name": "main hero",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub-heading",
      "label": "sub-heading"
    }
  ],
  "presets": [{ "name": "main hero" }]
}
{% endschema %}
