<style>

  .main-button {
      text-decoration: none;
      background-color: black;
      color: white;
      padding: 15px 40px;
  }

  #outer-div h1 {
      color: white;
  }

  #outer-div p {
      color: white;
  }

  #outer-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
      width: 100%;
     background-image : url('{{ section.settings.background-image | img_url: ''}}');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

  }

   @media screen and (max-width: 767px) {
        #outer-div {
         background-image: url("{{ section.settings.mobile-background-image | img_url: ' ' }}");
         }
        }
</style>
<div id="outer-div">
  <h1>{{ section.settings.heading }}</h1>
  <p>{{ section.settings['sub-heading'] }}</p>
  <a class="main-button" href="#">order now</a>
</div>

{% schema %}
{
  "name": "main hero",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub-heading",
      "label": "sub-heading"
    },
    {
      "type": "image_picker",
      "id": "background-image",
      "label": "background-image"
    },
    {
      "type": "image_picker",
      "id": "mobile-background-image",
      "label": "Mobile background image"
    }
  ],
  "presets": [{ "name": "main hero" }]
}
{% endschema %}
