<div class="hello">
  <h1>hello world</h1>
</div>

{% stylesheet %}
  .hello {
    width: 100vw;
    height: 100vh;
    background-color: 'blue';
  }
{% endstylesheet %}
{% schema %}
{
  "name": "hero section",
  "settings": [],
  "presets": [{ "name": "hero section" }]
}
{% endschema %}
