<style>
    .outer-slick-slider-section{
    max-width : 1300px;
    height : 60vh;
    display flex;
    flex-direction : column;
    align-items : center;
    justify-content : space-between;
    }

    .inner{
  width : 200px;
  height : 300px;
  background-color : blue;
  }
</style>

<div class="outer-slick-slider-section">
  <div class="inner"></div>
  <div class="inner"></div>
  <div class="inner"></div>
  <div class="inner"></div>
</div>

{% schema %}
{
  "name": "slick-slider",
  "settings": [],
  "presets": [{ "name": "slick-slide" }]
}
{% endschema %}
