<style>
  .outer-slick-slider-section {
    max-width: 1300px;
    margin: auto;
    text-align: center;
  }

  .inner-slider-slick {
    height: 100vh;
    background-color: blue;
    margin: auto 10px;
    display: inline-block;
  }
</style>

<div class="outer-slick-slider-section">
  <div class="inner-slider-slick">hello</div>
  <div class="inner-slider-slick">hello</div>
</div>

{% schema %}
{
  "name": "slick-slider",
  "settings": [],
  "presets": [{ "name": "slick-slide" }]
}
{% endschema %}
