<style>

  .experts-wrapper{
max-width : 1400px;
 min-height : 100vh;
    margin : auto;
    padding : 50px;
    display : flex;
    flex-direction : row;
    
  }
 .experts-wrapper .experts-wrapper-left{
    background-color : blue;
    min-height : 100%;
    width : 25%;
  }
  .experts-wrapper  .experts-wrapper-right{
    background-color : black;
   min-height : 100%;
    width : 75%;
  }
  
  
</style>
<div class="experts-wrapper">
  <div class="experts-wrapper-left"></div>
    <div class="experts-wrapper-right"></div>
</div>
{% schema %}
  {
    "name": "purefem experts",
    "settings": [],
     "presets" : [{"name" : "purefem experts"}]
  }
{% endschema %}