<style>
  .experts-wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.experts-wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.experts-wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.experts-wrapper i:hover{
  background: #f2f2f2;
}
.experts-wrapper i:first-child{
  left: -22px;
  display: none;
}
.experts-wrapper i:last-child{
  right: -22px;
}
.experts-wrapper .experts-carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.experts-carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.experts-carousel.dragging img{
  pointer-events: none;
}
.experts-carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.experts-carousel img:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .experts-carousel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .experts-carousel img{
    width: 100%;
  }
}
</style>
 <div class="experts-wrapper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <div class="experts-carousel">
        <img src="images/img-1.jpg" alt="img" draggable="false">
        <img src="images/img-2.jpg" alt="img" draggable="false">
        <img src="images/img-3.jpg" alt="img" draggable="false">
        <img src="images/img-4.jpg" alt="img" draggable="false">
        <img src="images/img-5.jpg" alt="img" draggable="false">
        <img src="images/img-6.jpg" alt="img" draggable="false">
        <img src="images/img-7.jpg" alt="img" draggable="false">
        <img src="images/img-8.jpg" alt="img" draggable="false">
        <img src="images/img-9.jpg" alt="img" draggable="false">
      </div>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
    <script>
      const experts-carousel = document.querySelector(".experts-carousel"),
firstImg = experts-carousel.querySelectorAll("img")[0],
arrowIcons = document.querySelectorAll(".experts-wrapper i");

let isDragStart = false, isDragging = false, prevPageX, prevScrollLeft, positionDiff;

const showHideIcons = () => {
    // showing and hiding prev/next icon according to experts-carousel scroll left value
    let scrollWidth = experts-carousel.scrollWidth - experts-carousel.clientWidth; // getting max scrollable width
    arrowIcons[0].style.display = experts-carousel.scrollLeft == 0 ? "none" : "block";
    arrowIcons[1].style.display = experts-carousel.scrollLeft == scrollWidth ? "none" : "block";
}

arrowIcons.forEach(icon => {
    icon.addEventListener("click", () => {
        let firstImgWidth = firstImg.clientWidth + 14; // getting first img width & adding 14 margin value
        // if clicked icon is left, reduce width value from the experts-carousel scroll left else add to it
        experts-carousel.scrollLeft += icon.id == "left" ? -firstImgWidth : firstImgWidth;
        setTimeout(() => showHideIcons(), 60); // calling showHideIcons after 60ms
    });
});

const autoSlide = () => {
    // if there is no image left to scroll then return from here
    if(experts-carousel.scrollLeft - (experts-carousel.scrollWidth - experts-carousel.clientWidth) > -1 || experts-carousel.scrollLeft <= 0) return;

    positionDiff = Math.abs(positionDiff); // making positionDiff value to positive
    let firstImgWidth = firstImg.clientWidth + 14;
    // getting difference value that needs to add or reduce from experts-carousel left to take middle img center
    let valDifference = firstImgWidth - positionDiff;

    if(experts-carousel.scrollLeft > prevScrollLeft) { // if user is scrolling to the right
        return experts-carousel.scrollLeft += positionDiff > firstImgWidth / 3 ? valDifference : -positionDiff;
    }
    // if user is scrolling to the left
    experts-carousel.scrollLeft -= positionDiff > firstImgWidth / 3 ? valDifference : -positionDiff;
}

const dragStart = (e) => {
    // updatating global variables value on mouse down event
    isDragStart = true;
    prevPageX = e.pageX || e.touches[0].pageX;
    prevScrollLeft = experts-carousel.scrollLeft;
}

const dragging = (e) => {
    // scrolling images/experts-carousel to left according to mouse pointer
    if(!isDragStart) return;
    e.preventDefault();
    isDragging = true;
    experts-carousel.classList.add("dragging");
    positionDiff = (e.pageX || e.touches[0].pageX) - prevPageX;
    experts-carousel.scrollLeft = prevScrollLeft - positionDiff;
    showHideIcons();
}

const dragStop = () => {
    isDragStart = false;
    experts-carousel.classList.remove("dragging");

    if(!isDragging) return;
    isDragging = false;
    autoSlide();
}

experts-carousel.addEventListener("mousedown", dragStart);
experts-carousel.addEventListener("touchstart", dragStart);

document.addEventListener("mousemove", dragging);
experts-carousel.addEventListener("touchmove", dragging);

document.addEventListener("mouseup", dragStop);
experts-carousel.addEventListener("touchend", dragStop);
    </script>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
     "presets" : [{"name" : "purefem experts"}]
  }
{% endschema %}