<style>
  .outer-slick-slider-section {
    max-width: 1300px;
    margin: auto;
    text-align: center;
  }

  .inner-slider-slick {
    height: 100vh;
    background-color: blue;
    margin: auto 10px;
    display: inline-block;
  }
  .spacer {
    height: 20px;
    width: 100%;
  }
  h1 {
    font-size: 30px;
    color: black;
  }
</style>

{% comment %}
  <div class="outer-slick-slider-section">
    <div class="inner-slider-slick">hello</div>
    <div class="inner-slider-slick">hello</div>
  </div>
{% endcomment %}
<div class="outer-slick-slider-section">
  {% for product in collections['all-products'].products %}
    <div class="inner-slider-slick">
      <h1>{{ product.title }}</h1>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "slick-slider",
  "settings": [],
  "presets": [{ "name": "slick-slider" }]
}
{% endschema %}
