@font-face {
    font-family: "Satoshi";
    src: url("https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Satoshi-Medium.woff2?v=1707203625") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Satoshi-Bold.woff2?v=1707203625") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Satoshi-Regular.woff2?v=1707203835") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "dutch";
    src: url("https://cdn.shopify.com/s/files/1/0631/5743/6566/files/Dutch801_Rm_WGL4_BT_Roman.ttf?v=1707204263") format("woff2");

    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  overflow-x : hidden;
}

p {
    font-family: "Satoshi", sans-serif !important;
  color : black;
}

.hero {
    height: 90vh;
    width: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/0631/5743/6566/files/hero_image_678d02df-8f67-49cf-ac6b-59f531eba4eb.png?v=1707203317);
    background-size: cover;
    background-position: center center;
}

.inner-hero {
    height: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0px 50px;
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.rating-section img {
    width: 300px;
}

.heading-1 {
    font-family: "satoshi", sans-serif !important;
    font-weight: 700;
    font-size: 55px;
    line-height: 50px;
    color: white;
}

.heading-2 {
    font-family: "dutch", sans-serif !important;
    font-weight: 400;
    font-size: 55px;
    line-height: 50px;
    font-style: italic;
    color: white;
}

.para-text {
   font-family: "satoshi", sans-serif !important;
    font-size: 16px;
    line-height: 20px;
  letter-spacing : -0.3px;
    color: white;
}

.cta-button {
    text-decoration: none;
    display: flex;
    height: 60px;
    width: 270px;
}

.cta-image {
    height: 100%;
}

.cta-text {
    font-family: "dutch", sans-serif !important;
    font-size: 20px;
    line-height: 20px;
    font-style: italic;
    letter-spacing: -1px;
    font-weight: 400 !important;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 60px;
    color: #9c3246;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos-section {
    background-color: #f0e5e9;
    width: 100%;
}

.inner-logos-section {
    max-width: 1400px;
    height: 100px;
    margin: auto;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
}

.inner-logos-section img {
    width: 100px;
    object-fit: contain;
}

.about {
    width: 100%;
    height: 80vh;
    position: relative;
}

.inner-about-overflow1 {
    position: relative;
    max-width: 1400px;
    z-index: 2;
    padding: 0px 50px;
    margin: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.about-heading-1 {
    font-family: "satoshi", sans-serif !important;
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    color: #9c3246;
}

.about-heading-2 {
    font-family: "dutch", sans-serif !important;
    font-weight: 400;
    font-size: 50px;
    line-height: 45px;
    font-style: italic;
    color: #9c3246;
}

.inner-about-overflow2 {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.about-left {
    width: 50%;
    background-color: #f9f3f4;
    height: 100%;
}

.about-right {
    width: 50%;

    height: 100%;
}

.about-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.black-color {
    color: black;
}

.red-color-background {
    background-color: #9c3246;
    color: white;
}

.categories-section {
    width: 100%;
    margin: 20px 0px;
}

.inner-categories-section {
    max-width: 1400px;
    margin: auto;
    padding: 0px 50px;  
}

.heading-wrapper-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*-------------- css for second section ------------*/
.benefits-section {
    width: 100%;
}

.inner-benefits-section {
    max-width: 1400px;
    margin: auto;
    padding: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;  
}

.benefits-left {
    width: 50%;
    padding-right: 100px;
}

.benefits-left img {
    width: 100%; 
}

.inner-left-side{
position: sticky;
    top: 0;
}

.inner-left-side img:nth-child(2) {
    padding: 20px 50px;
}

.benefits-right {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 100px;
}

.benefit-inner-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.benefit-inner-wrapper .red-heading {
    color: #9c3246;
}

.benefit-inner-wrapper h1 {
    font-family: "Satoshi", sans-serif !important;
    font-size: 40px;
    letter-spacing: -1.5px;
    line-height: 35px;
    color: #9c3246;
  font-weight : 700;
  
}

.benefit-inner-wrapper h1 span {
    font-family: "dutch", sans-serif !important;
    font-style: italic;
    font-weight: 400;
}

.tabs-list-box{
  list-style-type : none !important;
  display : grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap : 3%;
  max-width : 1400px;
  margin : auto;
  padding : 50px;
}
@media (max-width: 768px) {
       #tabs{
         display : none;
       }
  #tabs1{
    display : block !important;
    overflow-x : hidden;
  }
    }
 #tabs1{
    display : none;
  }
.tabs-list-box-mobile{
  list-style-type : none !important;
  max-width : 100%;
  margin : auto;
  padding : 30px 30px 30px 15px;
  
}
.slick-initialized .slick-slide{
  display : flex !important;
  flex-direction : column !important;
  align-items : center;
  justify-content : center;
  gap : 10px;
}
.ui-tabs .ui-tabs-panel{
  padding : 0 !important;
}
.slick-dots{
  left : -15px !important;
}
 
.tabs-list-box li{
display : flex;
  flex-direction : column;
  align-items : center;
  gap : 10px;
}
.product-card-image{
  width : 100%;
  border-radius : 10px;
}
.single-tab-list h1{
color : #9C3246;
  font-size : 20px;
  font-weight : 700;
  letter-spacing : -0.5px;
}
.single-tab-list p{
  font-size : 14px;
  letter-spacing : -0.5px;
  font-weight : 500;
}
.single-tab-list .price{
   font-size : 13px;
}
.single-tab-list form{
  width : 100%;
  padding : 0px 30px;
}

.btn-add-to-cart{
      font-family: "dutch", sans-serif !important;
font-weight : 400;
  font-size : 20px !important;
  font-style : italic;
  color : white;
  width : 100%;
  height : 50px;
  border-radius : 50px;
  background-color : #9C3246;
  border : none;
  cursor : pointer;
}


.marquee {
    --duration: 20s;
    --gap: 0px;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    background-color: #DD8A9C;
}

.marquee__group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
    height: 100px;
}



.marquee__group img {
    min-width:  15%;
    margin-left: 15px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.testimonial{
  width : 100%;
}
.testimonial-heading{
  max-width : 1400px;
  margin : auto;
  padding : 50px;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
}
.right-icon{
  width : 75px;
 display : flex;
  align-items : center;
  justify-content : center;
}
.right-icon img{
  width : 100%;
}


.wrapper-testimonial {
  width: 100%;
  position: relative;
}
.wrapper-testimonial .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 30px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  border : none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}


.carousel .card {
  scroll-snap-align: start;
  min-height: 350px;
  list-style: none;
  background: #F3EBEC;
  cursor: pointer;
  padding-bottom: 15px;
  display : flex;
  flex-direction: column;
  justify-content : space-between;
  padding : 30px;
  border-radius: 8px;
  border : none;
}
.testimonial-top-wrap{
    display : flex;
  flex-direction: column;
  gap : 20px;
}
.first-line{
  display : flex;
  flex-direction : row;
  gap : 10px;
  align-items : center;
}
.rating{
  width : 35%;
}
.verified-customer{
  width : 50%;
}


.first-line h2 {
    font-family: "Satoshi", sans-serif !important;
    font-size: 25px !important;
    letter-spacing: -1px;
    line-height: 25px;
    color: black;
}

.first-line h2 span {
    font-family: "dutch", sans-serif !important;
    font-style: italic;
    font-weight: 400;
  color: #9c3246 !important;
}
.card p{
   font-family: "Satoshi", sans-serif !important;
      font-weight: 400;
  font-size : 14px;
  line-height : 18px;
  color : black;
  letter-spacing : -0.1px;
}

@media screen and (max-width: 900px) {
  .wrapper-testimonial .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper-testimonial .carousel {
    grid-auto-columns: 100%;
  }
}

  /* image with cta */

  .purefemm-cta{
    max-width : 1400px;
    margin : auto;
    padding : 50px;
    min-height : 80vh;
    display : flex;
    align-items : center;
    justify-content : space-between;
    gap : 5%;
  }
  .purefemm-cta .left-cta{
    width : 50%;
  }
.left-cta img{
      width : 100%;
    }
    .purefemm-cta .right-cta{
    width : 50%;
      }
      .list-pointer{
      display : flex;
      align-items : center;
      justify-content : left;
      gap : 10px;
      }
      .list-pointer img{
      width : 15px;
      }
      .list-pointer p{
        font-size : 15px;
        letter-spacing : -0.5px;
        color : #9C3246;
      }