 .main-button {
     text-decoration: none;
     background-color: black;
     color: white;
     padding: 15px 40px;
 }

 #outer-div h1 {
     color: white;
 }

 #outer-div p {
     color: white;
 }

 #outer-div {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 80vh;
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }