 
   @media screen and (max-width: 767px) {
       #outer-div {
        background-image: url("{{ section.settings.mobile-background-image | img_url: ' ' }}");
        }
       }
 .main-button {
     text-decoration: none;
     background-color: black;
     color: white;
     padding: 15px 40px;
 }

 #outer-div h1 {
     color: white;
 }

 #outer-div p {
     color: white;
 }

 #outer-div {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 80vh;
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 /* css for slider */

 #slider {
     position: relative;
     overflow: hidden;
     width: 100%;
 }

 #slider ul {
     position: relative;
     margin: 0;
     padding: 0;
     height: 100vh;
     list-style: none;

 }

 #slider ul li {
     position: relative;
     display: block;
     float: left;
     margin: 0;
     padding: 0;
     width: 100vw;
     height: 100vh;
     background: #ccc;
     text-align: center;
 }

 a.control_prev,
 a.control_next {
     position: absolute;
     top: 40%;
     z-index: 999;
     display: block;
     padding: 4% 3%;
     width: auto;
     height: auto;
     background: #2a2a2a;
     color: #fff;
     text-decoration: none;
     font-weight: 600;
     font-size: 18px;
     opacity: 0.8;
     cursor: pointer;
 }

 a.control_prev:hover,
 a.control_next:hover {
     opacity: 1;
     -webkit-transition: all 0.2s ease;
 }

 a.control_prev {
     border-radius: 0 2px 2px 0;
 }

 a.control_next {
     right: 0;
     border-radius: 2px 0 0 2px;
 }

 .slider_option {
     position: relative;
     margin: 10px auto;
     width: 160px;
     font-size: 18px;
 }